    body {
        font-family: Arial;
        background: #f2f2f2;
        display: flex;
        justify-content: center;
       
        
    }

    .box {

        background: white;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        padding-top: 30px;
   
    }

    input {
        width: 95%;
        padding: 10px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
        border: none;
        margin-left: 30px;
        font-size: 40px;
    }

    ol {
        margin-top: 15px;
        font-size: 18px;
    }
    .content{
        display: flex;
        flex-direction: row;
    }
    .squrebox{
        border: 2px solid green;
           width: 35px ; 
           height: 35px;
           margin: 0 9px;
           
        
    }
  
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
       border: 1px solid white;
       margin-left: -41px;
       font-size: 35px;
       color: rgb(70, 67, 67);
    }
    li i{
            color:white;
                }
    li:hover i{
        color:grey;
      
    }
    li:hover {
        border: 1px solid gray;
       
    }
  

    ol li{
     list-style: none;
     list-style-type: none;
    }
    .starC{
        color:red;
       
    }
    .text2{
        text-decoration: line-through;
    }
    .checkbox{
        background-color: rgb(154, 151, 151);
        border: none;
    }
    .listitem2{
        background-color: rgb(220, 215, 215);
    }
         .starcl{
         color:yellow;

     }
      li:hover .starcl{
         color:yellow; 
      }
        li:hover .iconSec i{
        color:red;
    }   
     .boxcolorList {
        background-color: red;
     }
    