
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#5D3FD3;
}
h1{
    text-align: center;
    color:white;
     
}
#InputTaskContainer{
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
   }
#InputTaskContainer input, button{
    border: 2px solid rgb(210, 209, 209);
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color:#E2E8F0;
     border-radius: 10px;
    
    }
    #InputTaskContainer input{
        margin-bottom: 10px;
        font-size: 15px;
    }
    #InputTaskContainer button{
      background-color: #5D3FD3;
      border: none;
      color:white;
    }
    main{
        width: 100%;
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        /* position: relative; */
    }
    .container{
        width: 70%;
    }
#taskInput placeholder{
    color:black;
}
#searchContainer{
    border-radius: 15px;
    padding: 7px;
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    color:white;
    display: flex;
    background-color: white;

   
    }
#searchContainer input{
   width: 85%;
   background-color: white;
   border: none;
 outline: none;
 color:black;
 font-size: 20px;
}
#searchContainer #searchIcon{
    width: 5%;
    background-color: white;
}
#searchContainer #searchIcon i{
   color:black;
    background-color: white;
    padding: 8px;
}
#searchClearIcons{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    padding-top: 3px;
}
#searchClearIcons #clearBtn{
    background-color: white;
    height: 100%;
    padding: 3px;
}
#searchClearIcons #searchBtn{
    background-color: white;
    height: 100%;
     padding: 3px;
}

#searchClearIcons #clearBtn i {
height: 100%;
background-color: white;
color:black;
font-size: 20px;
}
#searchClearIcons #searchBtn i {
height: 100%;
 background-color: white;
color:black;
font-size: 25px;

}
#tasksectionContainer{
    border: 2px solid red;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#taskContainer{
    border: 2px solid black;
    width: 125%;
    height: 99%;
    display: flex;
    flex-direction: row;
}
#containerDelayList,#containerTodoList,#containerProgressList,#containerCompletedList,#signTodoList{
    width: 25%;
    border: 2px solid grey;
   height: 295px;
   overflow: auto;
   background-color: white;
}
ol{
    width: 100%;
    background-color: white;
    }
ol li{
     list-style: none;
     border: 2px solid rgb(210, 209, 209);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #E2E8F0;
    word-wrap: break-word; 
 }

 #sliderRightBtn,#sliderLeftBtn{
width: 40px;
height: 35px;
padding: 5px;
text-align: center;
 background-color: white;
 }
 #sliderRightBtn{
 position: absolute;
 right: 0;
 top: 75%;
 }
 #sliderLeftBtn{
position: absolute;
left: 0;
 top: 75%;
 }
 #sliderRightBtn i,#sliderLeftBtn i{
    background-color: white;
    font-size: 20px;   
 }
  
 .todoListDetail{
    /* border: 2px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
   background-color: #E2E8F0;
 }
 .todoListDetail .todoTask{
    color:black;
   font-size: 25px;
    padding-bottom: 10px;
      }
 .todoListDetail .todoCreateDate{
     color:#6c7786;
     font-size: 15px;
     padding-bottom: 5px;
 }
 .todoListDetail .todoDueDate{
    color:#8897a9;
     font-size: 15px;
    padding-bottom: 5px;
 }
 .todoiconContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: right;
    /* width: 100%; */
       background-color: #E2E8F0;
   
 }
 .todoiconContainer .todoEditButton,.todoMoveButton{
    margin-right: 15px;
   color:#5D3FD3;
 }
 .todoiconContainer .todoDeleteButton {
    color:maroon;
      margin-right: 15px;
 }

 


