
*{
    background-color: #5D3FD3;
   box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color:white;
     
}
#taskContainer{
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
   }
#taskContainer input, button{
    border: 2px solid rgb(210, 209, 209);
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color:#E2E8F0;
     border-radius: 10px;
    
    }
    #taskContainer input{
        margin-bottom: 10px;
        font-size: 15px;
    }
    #taskContainer button{
      background-color: #5D3FD3;
      border: none;
    }
    main{
        width: 100%;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 50%;
    }
#inputTask placeholder{
    color:black;
}
#searchContainer{

    border-radius: 15px;
    padding: 7px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color:white;
    display: flex;
    background-color: white;

   
    }
#searchContainer input{
   width: 84%;
   background-color: white;
   border: none;
 outline: none;
 color:black;
 font-size: 20px;
}
#searchContainer #searchIcon{
    width: 8%;
}
#searchContainer #deleteIcon{
    width: 8%;
}

#searchContainer #deleteIcon i {
    height: 100%;
    width: 100%;
    background-color: white;
color:black;
padding-top: 7px;
}
#searchContainer #searchIcon i {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
color:black;
text-align: center;
padding-top: 7px;
}



