*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
     background-image: linear-gradient(to bottom, red,grey,black);
}
header{
    text-align: center;
    padding-top: 50px;

}
h2{
    text-align: center;
}
#container{
width: 100%;
padding: 30px;
height: 100vh;
}
#headingTask , h2{
    color:white;
}

#containerOfallListBox{
     padding:20px 10px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#containerTodoList, #containerProgressList, #containerCompletedList{
    width: 32%;    
}
.containerAddTask{
     margin-top: 9px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
     width: 100%;
}
.containerAddTask #addTask{
    width: 93%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}
 .containerAddTask #searchTask{  
     width: 90%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}
#addbtn{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 7%;
font-size: 25px;
}
#addbtn #addClickButton{
    background-color: white;
}
#addbtn i{
       color:rgb(71, 70, 70);
    background-color: white;
}
#removeButton{
    color:rgb(71, 70, 70);
    background-color: white;
}

ol{
    border-top: 1px dotted green;
     padding-bottom: 2px;
}
ol li{
    list-style: none;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color:white;
    
}

.iconContainer{
    display: flex;
    width: 17%;
    margin-left: 7px;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;    
}

.addList{
    font-size: 20px;    
    }

.progressdeleteIcon,.completelistdelete{
     margin-left: 7px;
     font-size: 20px;
}
.todoList, .progressList,.completedList{
    width: 100%;
    word-break: break-all;    
}
.todolistText{
    color:white;
    margin-left: 7px;  
    
}
.todolistText{
    font-size: larger;
}
#addClickButton, #removebutton, #searchlistbtn{
    font-size: 30px;
}
button,.TododeleteIcon,.progressdeleteIcon,.completelistdelete{
    border: none;
     cursor: pointer;   
}
body i{
    cursor: pointer;
}
#searchIcons{
     width: 10%;
    display: flex;
    justify-content: space-evenly;
        }
    #searchIcons i{
        font-size: 30px;
        background-color: white;;
    }
    #searchIcons #removeButton{
        font-size: 25px;
    }


@media screen and (max-width: 800px)  {
    .headingTodoList,.headingProgressList,.headingCompletedList{
      font-size: 15px;
    }
    .iconContainer{
        width: 25%;
        font-size: 20px;
    }
    .todolistText{
    font-size: small;
}  
#searchIcons{
     width: 20%;    
       }
       #addbtn{
        width: 13%;
     
} 
}
@media screen and (max-width: 600px){
    .iconContainer{
        width: 30%;
        font-size: 15px;
    }
   .progressdeleteIcon, .completelistdelete{
    font-size: 15px;
  }
}