*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
#Container{
width: 100%;
padding: 30px;
}
#heading-task , h2{
    color:white;
}

#containerOfallListBox{
     padding:20px 10px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-TodoList, #container-ProgressList, #container-Completedlist{
    width: 32%;    
}
.ContainerAddTask{
     margin-top: 9px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
     width: 100%;
}
#AddTask, #SearchTask{  
     width: 90%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}
#addbtn, #bothIcnInput{
width: 10%;
font-size: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
}

 
ol{
    border-top: 1px dotted green;
     padding-bottom: 2px;
}
ol li{
    list-style: none;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color:white;
    
}
#bothIcnInput{
   width: 25%;
    display: flex;
    
}
.icon{
    
    font-size: 30px;
}

.icon-container{
    display: flex;
    width: 17%;
    margin-left: 7px;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;    
}

.addList{
    font-size: 20px;    
    }

.progressdeleteIcon,.completelistdelete{
     margin-left: 7px;
     font-size: 20px;
}
.todolist, .Proglist,.completedlist{
    width: 100%;
    word-break: break-all;
    
}
.todolistText{
    color:white;
    margin-left: 7px;   
    
}
.todolistText{
    font-size: larger;
}
#Addclickbutton, #Removebutton, #clickSearchList{
    font-size: 30px;
}
button,i,.TododeleteIcon,.progressdeleteIcon,.completelistdelete{
    border: none;
    background-color: white;
    cursor: pointer;
}
@media screen and (max-width: 800px)  {
    .heading-Todo-list,.heading-Progress-list,.heading-Completed-list{
      font-size: 15px;
    }
    .icon-container{
        width: 20%;
        font-size: 20px;
    }
    .todolistText{
    font-size: small;
}
  
} 
@media screen and (max-width: 600px){
    .icon-container{
        width: 30%;
        font-size: 15px;
    }
   .progressdeleteIcon, .completelistdelete{
    font-size: 15px;
  }
}