* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(315deg, #667EEA 64.64%, #764BA2 135.36%);
    width: 100vw;
    /* padding: 40px 60px; */
}
html{
    font-size: 1rem;
}

#headingTaskContainer {
    border: 5px solid green;
    width: 100%;
/* height: 411px; */
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

#allTaskBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#allTaskBtn #backBtn,
#todoBtn,
#proBtn,
#donBtn,
#expiryBtn {
    padding: 5px 7px;
    border-radius: 9px;
    color: white;
    background-color: #7358e1;
    font-size: 1rem;
}
#allTaskBtn {
    display: none;
}
main {
    border: 2px solid red;
    width: 100%;
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 4rem;
    color: white;
}
body i:hover {
    cursor: pointer;
}
#InputTaskContainer {
    border: none;
    border-radius: 15px;
    width: 46%;
    padding: 20px;
    background-color: #FFFFFF;
}
#InputTaskContainer input,
button {
    border: 2px solid rgb(210, 209, 209);
    width: 100%;
    padding: 1rem;
     border-radius: 1rem;
}
#InputTaskContainer input {
    border: 2px solid #E9ECEF;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    background: #F8F9FA;
       
}
input::placeholder{
    color: #212529;

}

#InputTaskContainer #dueDate {
    color: black;
}
#InputTaskContainer #addBtn {
    background: linear-gradient(315deg, #667EEA 64.64%, #764BA2 135.36%);
    font-size: 1.1rem;
    border: none;
    color: white;
}
#InputTaskContainer #addBtn:hover {
   font-size: 1.3rem;
}
#searchContainer {
    border-radius: 1.3rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    width: 46%;
    /* height: 50px; */
    color: white;
    display: flex;
    flex-direction: row;
    background-color: white;
}
#searchContainer input {
    width: 75%;
    border: none;
    outline: none;
    color: black;
    font-size: 1.7rem;
}
#searchContainer #searchIcon {
    width: 5%;
    background-color: white;
    text-align: center;
}
#searchContainer #searchIcon i {
    color: black;
    background-color: white;
    padding: 0.7rem 0;
}
#searchClearIcons {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding-top: 3px;
}
#searchClearIcons #clearBtn {
    background-color: white;
    height: 100%;
    padding: 2px;
}
#searchClearIcons #searchBtn {
    background-color: white;
    height: 100%;
    padding-top: 1px;
}
#searchClearIcons #clearBtn i {
    height: 100%;
    background-color: white;
    color: black;
    font-size: 1.7rem;
}
#searchClearIcons #searchBtn i {
    height: 100%;
    background-color: white;
    color: black;
    font-size: 2rem;
}
.containertwoicons {
    border: 22px solid green;
    width: 100%;
    padding: 0 4rem;
    position: relative;
}
#tasksectionContainer {
     /* border: 22px solid pink; */
    width: 100%;
    overflow: hidden;
}
.taskContainer {
      /* border: 22px solid yellow; */
    width: 125%;
    display: flex;
    flex-direction: row;
}
#containerDelayList,
#containerTodoList,
#containerProgressList,
#containerCompletedList,
#signTodoList {
    width: 25%;
    border-radius: 2rem;
    margin: 0 1rem;
    height: 600px;
    overflow: auto;
    background-color: white;
}
ol {
    width: 100%;
    background-color: white;
}
li {

    width: 100%;
    list-style: none;
    border: 2px solid rgb(210, 209, 209);
    border-radius: 1.7rem;
    padding: 0.5rem 1.3rem;
    margin-bottom: 1rem;
    background-color: #E2E8F0;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    }
#sliderRightBtn,
#sliderLeftBtn {
    max-width: 4%;
    text-align: center;
    background-color: white;
}
#sliderRightBtn {
    position: absolute;
    right: 0;
    top: 50%;
}
#sliderLeftBtn {
    position: absolute;
    left: 0;
    top: 50%;
}
#sliderRightBtn i,
#sliderLeftBtn i {
    background-color: white;
    font-size: 1.5rem;
}
#tTaskHeading,
 #pTaskHeading,
  #bTaskHeading,
  #eTaskHeading,
   #dTaskHeading

   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7rem;
    width: 100%;
}
/* h3 span {
    background-color: #E2E8F0;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 50%;
} */
.todoiconContainer i,
.progressIconContainer i,
.completedIconContainer i,
.signIconContainer i,
.backlogIconContainer i {
    display: none;
}
.todoListDetail {
    display: flex;
    flex-direction: column;
    background-color: #E2E8F0;
}
.todoListDetail .todoTask,
.progressListDetail .progressTask,
.completedListDetail .completedTask,
.signListDetail .signTask .backlogListDetail,
.backlogTask {
    color: black;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.todoListDetail .todoCreateDate,
.progressListDetail .progressCreateDate,
.completedListDetail .completedCreateDate,
.signListDetail .signExpiryDate,
.backlogListDetail,
.backlogCreateDate {
    color: #6c7786;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.todoListDetail .todoUpdateDate,
.progressListDetail .progressUpdateDate,
.completedListDetail .completedUpdateDate,
.backlogListDetail .backlogupdateDate {
    color: #6c7786;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.todoListDetail .todoDueDate,
.progressListDetail .progressDueDate,
.completedListDetail .completedDueDate,
.backlogListDetail,
.backlogdueDate,
.signListDetail .signCompletedDate {
    color: #8897a9;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.todoiconContainer,
.progressIconContainer,
.completedIconContainer,
.signIconContainer,
.backlogIconContainer {
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #E2E8F0;
}

.todoiconContainer .todoMoveButton,
.progressIconContainer .progressMoveButton,
.completedIconContainer .completedMoveButton,
.backlogIconContainer .BacklogMoveTodo,
.backlogIconContainer .backlogEditButton,
.progressIconContainer .progressEditButton,
.progressIconContainer .progressMoveInTodo,
.signIconContainer .signMoveInCompleted {
    margin-right: 1.4rem;
    color: #5D3FD3;
}
li i:hover {
    font-size: 1.7rem;
}
.todoiconContainer .todoDeleteButton,
.progressIconContainer .progressDeleteButton,
.completedIconContainer .completedDeleteButton,
.signIconContainer .signDeleteButton,
.backlogIconContainer .delayDeleteButton {
    color: maroon;
    margin-right: 1.4rem;
}
.todoiconContainer .todoEditButton,
.completedIconContainer .completedEditButton {
    margin-right: 1.4rem;
    color: #5D3FD3;
}
.todoiconContainer .todoBacklog,
.progressIconContainer .progressBacklog,
.completedIconContainer .comeMoveInProg {
     margin-right: 1.4rem;
    color: #5D3FD3;
}
#searchContainer #searchClearIcons i {
    display: none;
}
#searchContainer:hover #searchClearIcons i {
    display: flex;
}

.todoListItem:hover .todoiconContainer i,
.progressListItem:hover .progressIconContainer i,
.completedListItem:hover .completedIconContainer i,
.signListItem:hover .signIconContainer i,
.delayListItem:hover .backlogIconContainer i {
    display: flex;
}
ol {
    padding: 0 1.4rem;

}
 

@media screen and (max-width : 770px) {
   body{
    width: 100%;
   }
     ol li:hover  ol li i{
        display: flex;
    }
    ol {
        padding: 0 1.4rem;
    }
      #leftButtonOfsixSlide {
        position: absolute;
        top: 85%;
        right: 30%;
    }
    #tasksectionContainer {
        width: 100%;
        margin: 0;
        margin: 8rem 0;
    }
    .taskContainer {
        width: 500%;
    }
    #containerDelayList,
    #containerTodoList,
    #containerProgressList,
    #containerCompletedList,
    #signTodoList {
        width: 20%;
    }
    #searchContainer input {
        width: 60%;
    }
    #searchClearIcons {
        width: 30%;
    }
    #searchContainer #searchIcon {
        width: 10%;
    }
    .containertwoicons {
        position: none;
    }
    #sliderRightBtn {
        width: 9%;
        top: 2.5rem;
        right: 40%;
    }
    #sliderLeftBtn {
         width: 9%;
      top: 2.5rem;
        left: 40%;
    }

   }
@media screen and (max-width : 480px) {
    body {
        padding: 0;
        margin: 0;
    }
     ol li:hover  ol li i{
        display: flex;
    }
    #headingTaskContainer {
        width: 100%;
        height: 411px;
        padding: 0;
        justify-content: space-between;
    }
    #smallScreenHeader {
        height: 15rem;
        width: 100%;
        /* border: 2px solid green; */
        padding-top: 1.5rem;
        background-color: #5D3FD3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #InputTaskContainer {
        padding: 0;
        padding: 1.5rem;
        width: 90%;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6;
    }
    #InputTaskContainer input {
        height: 3.5rem;
        margin: 0;
        background-color: white;
    }
    #searchContainer {
        width: 90%;
        margin-top: 0;
    }
    #sliderRightBtn,
    #sliderLeftBtn {
        display: none;
    }
    #allTaskBtn {
        display: block;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    #tasksectionContainer {
        margin: 0;
    }
    #containerDelayList,
    #containerTodoList,
    #containerProgressList,
    #containerCompletedList,
    #signTodoList {
        border: 2px solid gray;
        margin: 0 0.5rem;
        width: 20%;
    }
    #sliderRightBtn,
    #sliderLeftBtn {
        display: none;
    }
    .containertwoicons {
        margin-top: 0;
    }
  
    .taskContainer {
        width: 500%;
    }
    main{
        width: 100%;
        margin-top:  5rem;
        padding: 0;
    }
  
    
}