*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
font-size: 21px;
}
#outerbox{
    /* border: 2px solid gray; */
    width: 70%;
    margin-top: 110px;
}
#main-heading{
    text-align: center;
    font-size: 40px;
}
#main-heading i{
    border: 0.5px solid rgb(108, 94, 94);
    padding: 3px;
    font-size: 33px;
color: white;
    background-color:rgb(255, 168, 6);
}
#input-outer-bor{
display: flex;
border-radius: 9px;
 justify-content: space-between;
 padding: 19px;
 background-color: grey;
margin: 25px 0;
}
#input-outer-bor:hover{
border: 4px solid white;


}
/* input:hover::placeholder { /* Standard */
  /* opacity: 0; */
 /* ::-webkit-input-placeholder {
 
} */
#logo i{
    color: blueviolet;
    font-weight: 700;
    font-size: 23px;
    margin-right: 7px;
   
}
input{
    height: 30px;
    border: none;
    background-color: grey;
    outline: none;
    font-size: 19px;
    color:rgb(223, 217, 217);
    
}


button{
    width: 25px;
    height: 25px;
    background-color: red;
    color:white;
    border-radius: 5px;
    background-color: #8080f8;
    
}
#about-list , #about-list2{
    text-align: center;
    font-size: 21px;
    margin: 9px 0;
}
li{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 17px;
    margin-top: 3px;
}

.input-logo i{
    border: 3px solid white;
    font-size: 15px;
    padding: 4px;
    width: 27px;
    border-radius: 50%;
    color:grey;
    
   
}
.input-logo2 i{
    color:white;
}
.input-logo2 .text2{
    color:white;
    text-decoration: line-through;
}
.remove i{
    border: 3px solid grey;
    font-size: 15px;
    padding: 4px;
    width: 27px;
    border-radius: 50%;
    color:grey;
    
   
}
li:hover .remove i{
color:red;
border: 2px solid red;
display: flex;

}
li:hover .input-logo i{
    color:white;
}

.text, .secondlistText{
    margin-left: 15px;
}
.remove,  .addicon .remove2{
    cursor: pointer;
}
.remove2, .addicon2{
    cursor: pointer;
}
.remove2 i{
    border: 2px solid grey;
    width: 25px;
    font-size: 17px;
    color:red;
    padding: 4px;
    border-radius: 50%;
    color:grey;
}
li:hover .remove2 i{
    color:red;
    border: 2px solid red;
}
.secondlistText{
    text-decoration: line-through;
}
