*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
     background-image: linear-gradient(to bottom, red,grey,black);
}
header{
    text-align: center;
    padding-top: 50px;

}
h2{
    text-align: center;
}
#container{
width: 100%;
padding: 30px;
height: 100vh;
}
#headingTask , h2{
    color:white;
}

#containerOfallListBox{
     padding:20px 10px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#containerTodoList, #containerProgressList, #containerCompletedList{
    width: 32%;    
}
.containerAddTask{
     margin-top: 9px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50px;
     width: 100%;
}
.containerAddTask #addTask{
    width: 92%;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}
 .containerAddTask #searchTask{  
     width: 85%;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}


 #addClickButton{
     width: 7%;
    font-size: 30px;
    text-align: center;
    background-color: white;
    
 }
 #addClickButton:hover{
    font-size: 35px;
}

#searchIcons {
    width: 14%;
    display: flex;
    justify-content: space-around;
   }
   #searchListBtn{
    font-size: 30px;
    background-color: white;
       }
       #searchListBtn:hover{
        font-size: 35px;
       }

       

     #removeButton{
    font-size: 30px;
    background-color: white;
       }


#removeButton:hover{
    font-size: 35px;
}




ol{
    border-top: 1px dotted green;
     padding-bottom: 2px;
}
ol li{
    list-style: none;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color:white;
    
}

.iconContainer{
    display: flex;
    width: 17%;
    margin-left: 7px;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;    
}

.addList{
    font-size: 20px;    
    }

.progressdeleteIcon,.completelistdelete{
     margin-left: 7px;
     font-size: 20px;
}
.todoList, .progressList,.completedList{
    width: 100%;
    word-break: break-all;    
}
.todolistText{
    color:white;
    margin-left: 7px;  
    
}
.todolistText{
    font-size: larger;
}

button,.TododeleteIcon,.progressdeleteIcon,.completelistdelete{
    border: none;
     cursor: pointer;   
}
body i{
    cursor: pointer;
}

.addList,.todoEditIcon,.todoDeleteIcon,.progressaddIcon,.progressdeleteItem,.completedListdelete{
    font-size: 20px;
    
} 
.addList:hover,.todoEditIcon:hover,.todoDeleteIcon:hover,.progressaddItem:hover,.progressdeleteItem:hover,.completedListdelete:hover{
    font-size: 21px;
} 
.iconContainer i{
          font-size: 18px;
    }
    li{
        background-color: rgb(139, 135, 135);
        border-radius: 5px;
        border-bottom: 1px solid white;
        
    }


@media screen and (max-width: 800px)  {
    .headingTodoList,.headingProgressList,.headingCompletedList{
      font-size: 15px;
    }
    .iconContainer{
        width: 25%;
        font-size: 18px;
    }
    .todolistText{
    font-size: small;
}  
.addList,.todoEditIcon,.todoDeleteIcon,.progressaddItem,.progressdeleteItem,.completedListdelete{
    font-size: 16px;
} 
.addList:hover,.todoEditIcon:hover,.todoDeleteIcon:hover,.progressaddItem:hover,.progressdeleteItem:hover,.completedListdelete:hover{
    font-size: 18px;
} 
 .iconContainer i{
        width: 27%;
        font-size: 17px;
    }


   }
@media screen and (max-width: 600px){
    .iconContainer{
        width: 27%;
        font-size: 15px;
    }
     .iconContainer i{
        width: 27%;
        font-size: 14px;
    }
  
}