*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#outerbox{
    border: 2px solid gray;
    width: 400px;
    
}
#input-outer-bor{
    border: 2px solid green;
display: flex;
 justify-content: space-between;

}
input{
    height: 30px;
}
button{
    width: 50px;
    background-color: red;
    color:white;
    border-radius: 5px;
    
}
li{
    display: flex;
    justify-content: space-between;
}

.text, .secondlistText{
    margin-left: 15px;
}
.remove , .addicon{
    cursor: pointer;
}
.secondlistText{
    text-decoration: line-through;
}
