
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:#5D3FD3;
}
header{
display: flex;
flex-direction: column;
}
#allTaskBtn{
     width: 100%;
     display: flex;
     justify-content: space-between;
}
 #allTaskBtn #backBtn , #todoBtn ,#proBtn, #donBtn, #expiryBtn{
     padding: 5px 10px;
    border-radius: 9px;
    color:white;
    background-color: #7358e1;
}


#allTaskBtn{
    display: none;
}


 main{
        width: 100%;
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
            
    }
h1{
    text-align: center;
    color:white;
     
}
body i:hover{
cursor: pointer;
}
 .container{
    padding: 0 50px;
       width: 50%;
         position: relative;
    }
#InputTaskContainer{
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
   }
#InputTaskContainer input, button{
    border: 2px solid rgb(210, 209, 209);
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color:#E2E8F0;
     border-radius: 10px;
    
    }
    #InputTaskContainer input{
        margin-bottom: 10px;
        font-size: 15px;
        color:white;
        color:black;
        font-size: 19px;
    }
    #InputTaskContainer #dueDate{
        color:black;
    }
   
    #InputTaskContainer  #addBtn{
      background-color: #5D3FD3;
      border: none;
      color:white;
          }
    
   #InputTaskContainer #addBtn:hover{
        background-color: #321b8d;
            }
   
   

#searchContainer{
    border-radius: 15px;
    padding: 7px;
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    color:white;
    display: flex;
    flex-direction: row;
    background-color: white;
    
   
    }
#searchContainer input{
    width: 75%;
   border: none;
 outline: none;
 color:black;
 font-size: 20px;
}
#searchContainer #searchIcon{
     width: 5%;
    background-color: white;
    text-align: center;
}
#searchContainer #searchIcon i{
   color:black;
    background-color: white;
    padding: 9px 0px;
}
#searchClearIcons{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding-top: 3px;
}
#searchClearIcons #clearBtn{
    background-color: white;
    height: 100%;
    padding: 2px;
}
/* #clearBtn:hover{
    font-size: 22px;
} */
#searchClearIcons #searchBtn{
    background-color: white;
    height: 100%;
     padding-top: 1px;
}
/* #searchBtn:hover{
    font-size: 25px;
} */
 /* sss  */

    /* end */
#searchClearIcons #clearBtn i {
height: 100%;
background-color: white;
color:black;
font-size: 20px;
}
#searchClearIcons #searchBtn i {
height: 100%;
background-color: white;
color:black;
font-size: 25px;

}
/* style slider  */
.containertwoicons{
    width: 100%;
    padding: 0 50px;
    position: relative;
}

#tasksectionContainer{
     width: 100%;
     overflow: hidden;
     /* position: relative; */
        }
.taskContainer{
    /* border: 2px solid black; */
    width: 125%;
    display: flex;
    flex-direction: row;
   
}
#smallScreen{
    /* border: 2px solid black; */
    width: 125%;
    display: flex;
    flex-direction: row;
   
}
#containerDelayList,#containerTodoList,#containerProgressList,#containerCompletedList,#signTodoList{

    width: 25%;
    /* border: 2px solid red; */
    border-radius: 25px;
    margin:  0 10px;
   height: 600px;
   overflow: auto;
   background-color: white;
}

ol{
    width: 100%;
    background-color: white;
    
    }
 li{
    
    width: 100%;
     list-style: none;
     border: 2px solid rgb(210, 209, 209);
    border-radius: 20px;
    padding: 5px 15px;
    margin-bottom: 15px;
    background-color: #E2E8F0;
    display: flex;
    flex-direction: column;
    word-break: break-all; 
 }

 #sliderRightBtn,#sliderLeftBtn{
width: 40px;
height: 35px;
padding: 5px;
text-align: center;
 background-color: white;
 }
 #sliderRightBtn{
 position: absolute;
 right: 0;
 top: 50%;
 }
 #sliderLeftBtn{
position: absolute;
left: 0;
 top: 50%;
 }
 #sliderRightBtn i,#sliderLeftBtn i{
    background-color: white;
    font-size: 20px;   
 }
 /* style on list content */
  
 .taskHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    
 }
 h3 span {
    background-color: #E2E8F0;
    border:  none;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 50%;
 }
 .todoListDetail{
    display: flex;
    flex-direction: column;
   background-color: #E2E8F0;
 }
 .todoListDetail .todoTask,
 .progressListDetail .progressTask ,
 .completedListDetail .completedTask,
 .signListDetail .signTask
 .backlogListDetail , .backlogTask{
    color:black;
   font-size: 25px;
    padding-bottom: 10px;
      }
 .todoListDetail .todoCreateDate,
 .progressListDetail .progressCreateDate,
 .completedListDetail .completedCreateDate,
 .signListDetail .signExpiryDate,
  .backlogListDetail , .backlogCreateDate
   {
     color:#6c7786;
     font-size: 15px;
     padding-bottom: 5px;
 }
 .todoListDetail .todoDueDate,
 .progressListDetail .progressDueDate,
 .completedListDetail .completedDueDate,
 .signListDetail .signCompletedDate,
  .backlogListDetail , .backlogdueDate{
    color:#8897a9;
     font-size: 15px;
    padding-bottom: 5px;
 }
 .todoiconContainer,
  .progressIconContainer,
  .completedIconContainer,
  .signIconContainer,
  .backlogIconContainer{
       display: flex;
    justify-content: right;
    background-color: #E2E8F0;
   
 }
 
.todoiconContainer .todoMoveButton,
.progressIconContainer .progressMoveButton,
.completedIconContainer .completedMoveButton,
.backlogIconContainer .BacklogMoveTodo{
 margin-right: 15px;
 color:#5D3FD3;
}
 .todoiconContainer .todoDeleteButton ,
 .progressIconContainer .progressDeleteButton,
 .completedIconContainer .completedDeleteButton,
 .signIconContainer .signDeleteButton,
 .backlogIconContainer .delayDeleteButton{
    color:maroon;
      margin-right: 15px;
 }
 .todoiconContainer .todoEditButton{
    margin-right: 15px;
   color:#5D3FD3;
 }
 .todoiconContainer .todoBacklog,
 .progressIconContainer .progressBacklog{
     margin-right: 15px;
   color:#5D3FD3;
 }
 footer{
    width: 100%;
    border: 2px solid black;
    background-color: gray;
    height: 300px;
    margin-top: 20px;
 }
 #rightButtonOfsixSlide,#leftButtonOfsixSlide{
display: none;
 }
 #searchContainer  #searchClearIcons i{
    display: none;
 }
 #searchContainer:hover #searchClearIcons i{
display: flex;
 }

 .todoiconContainer i,
 .progressIconContainer i,
 .completedIconContainer i,
 .signIconContainer i,
 .backlogIconContainer i{
    display: none;
    
 }


 .todoListItem:hover .todoiconContainer i,
  .progressListItem:hover .progressIconContainer i,
   .completedListItem:hover .completedIconContainer i,
    .signListItem:hover .signIconContainer i,
     .delayListItem:hover .backlogIconContainer i {
    display: flex;
 }

 /* li:hover .input-logo i */

/* set media */
@media screen and (max-width : 850px){
    h1{
     margin-top: 50px;
     margin-bottom: 20px;  
     
}
.container{
        width: 100%;
        padding-bottom: 50px;
    }

   
     #sliderRightBtn{
  display: none;
 }
 #sliderLeftBtn{

 display: none;
 }
 #rightButtonOfsixSlide,#leftButtonOfsixSlide{
display: block;
 width: 50px;

 }
 #rightButtonOfsixSlide{
    position: absolute;
    top:85%;
    left: 30%;

 }
 #leftButtonOfsixSlide{
     position: absolute;
     top:85%;
    right: 30%;

 }
 #tasksectionContainer{
    border: none;
  margin: 0;
  margin: 35px 0;
   }
 /* .taskContainer{
    width: 0%;
    border: 2px solid black;
    width: 500%;
  } */

#smallScreen{
    border: 2px solid red;
     width: 500%;
}
 #containerDelayList,#containerTodoList,#containerProgressList,#containerCompletedList,#signTodoList{
    /* width: 0%; */
    width: 100%;
   
}
#searchContainer input{
width: 60%;
}
#searchClearIcons{
width: 30%;
}
 #searchContainer #searchIcon{
        width: 10%;
    }

}
@media screen and (max-width : 400px){
      #sliderRightBtn{
      display: none;
 }
 #sliderLeftBtn{
        display: none;
 }
 #allTaskBtn{
    display: block;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 13px;
}
#tasksectionContainer{
 margin: 0;
  
   }
   #containerDelayList,
   #containerTodoList,
   #containerProgressList,
   #containerCompletedList,
   #signTodoList{
    margin: 0px;
    width: 100%;
   }
   #rightButtonOfsixSlide, #leftButtonOfsixSlide{
   display: none;
 }
 .container{
    padding-bottom: 0;
 }
 #smallScreen{
    border: 2px solid red;
     width: 500%;
}

 
}

 


