*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
#Container{
/* border: 2px solid black; */
width: 100%;
padding: 30px;
}
#heading-task , h2{
    color:white;
}


#AddTask, #SearchTask{  
    width: 90%;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 25px;
    border: none;
    outline: none;
}

.ContainerAddTask{
    /* border: 1px solid green; */
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
   margin-top: 50px;
   width: 100%;
}
 .ContainerAddTask,#SearchTask{
    /* border: 2px solid green; */
    width: 90%;
 }
#Addclickbutton{
    width: 4%;
    padding: 0;
    border: none;
    background-color: white;
}
#clickSearchList{
    width: 4%;
    padding: 0;
    border: none;
    background-color: white;
}
#Removebutton{
    border: none;
    background-color: white;
    margin-right: 20px;
  }
#containerOfallListBox{
    /* border: 2px solid black; */
    padding:20px 10px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container-TodoList, #container-ProgressList, #container-Completedlist{
    /* border: 1px solid green; */
    border-radius: 15px;
    width: 32%;
    
}
#TodoList,#ProgressList,#CompletedList{
box-sizing: border-box;
/* border: 2px solid yellow; */
width: 100%;

}
ol{
    border-top: 1px dotted green;
     padding-bottom: 2px;
}
ol li{
    list-style: none;
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    
    color:white;
    
}
#bothIcn{
    /* border: 2px solid red; */
    width: 5%;
    margin-left: 20px;
    padding-top: 7px;
}
.icon{
    font-size: 30px;
}
.TodoeditIcon,.TododeleteIcon,.addListinprogress,.addListinprogress,.progressdeleteIcon,.completelistdelete{
    font-size: 20px;
}
#Removebutton{
    margin-left: -65px;
}

