
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:#5D3FD3;
}
 main{
        width: 100%;
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
       
    }
h1{
    text-align: center;
    color:white;
     
}
body i:hover{
cursor: pointer;
}
#InputTaskContainer{
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: white;
   }
#InputTaskContainer input, button{
    border: 2px solid rgb(210, 209, 209);
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color:#E2E8F0;
     border-radius: 10px;
    
    }
    #InputTaskContainer input{
        margin-bottom: 10px;
        font-size: 15px;
        color:white;
        color:black;
        font-size: 19px;
    }
    #InputTaskContainer #dueDate{
        color:black;
    }
   
    #InputTaskContainer  #addBtn{
      background-color: #5D3FD3;
      border: none;
      color:white;
          }
    
   #InputTaskContainer #addBtn:hover{
        background-color: #321b8d;
            }
   
    .container{
        width: 70%;
    }

#searchContainer{
    border-radius: 15px;
    padding: 7px;
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    color:white;
    display: flex;
    flex-direction: row;
    background-color: white;
    
   
    }
#searchContainer input{
    width: 75%;
   border: none;
 outline: none;
 color:black;
 font-size: 20px;
}
#searchContainer #searchIcon{
     width: 5%;
    background-color: white;
    text-align: center;
}
#searchContainer #searchIcon i{
   color:black;
    background-color: white;
    padding: 9px 0px;
}
#searchClearIcons{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding-top: 3px;
}
#searchClearIcons #clearBtn{
    background-color: white;
    height: 100%;
    padding: 2px;
}
/* #clearBtn:hover{
    font-size: 22px;
} */
#searchClearIcons #searchBtn{
    background-color: white;
    height: 100%;
     padding-top: 1px;
}
/* #searchBtn:hover{
    font-size: 25px;
} */
 /* sss  */

    /* end */
#searchClearIcons #clearBtn i {
height: 100%;
background-color: white;
color:black;
font-size: 20px;
}
#searchClearIcons #searchBtn i {
height: 100%;
background-color: white;
color:black;
font-size: 25px;

}
/* style slider  */

#tasksectionContainer{
    /* border: 2px solid red; */
    width: 100%;
    overflow: hidden;
     position: relative;
   }
#taskContainer{
    /* border: 2px solid black; */
    width: 125%;
    display: flex;
    flex-direction: row;
   
}
#containerDelayList,#containerTodoList,#containerProgressList,#containerCompletedList,#signTodoList{

    width: 25%;
    /* border: 2px solid red; */
    border-radius: 25px;
    margin:  0 10px;
   height: 600px;
   overflow: auto;
   background-color: white;
}

ol{
    width: 100%;
    background-color: white;
    
    }
 li{
    width: 100%;
     list-style: none;
     border: 2px solid rgb(210, 209, 209);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #E2E8F0;
    display: flex;
    flex-direction: column;
    word-break: break-all; 
 }

 #sliderRightBtn,#sliderLeftBtn{
width: 40px;
height: 35px;
padding: 5px;
text-align: center;
 background-color: white;
 }
 #sliderRightBtn{
 position: absolute;
 right: 0;
 top: 95%;
 }
 #sliderLeftBtn{
position: absolute;
left: 0;
 top: 95%;
 }
 #sliderRightBtn i,#sliderLeftBtn i{
    background-color: white;
    font-size: 20px;   
 }
 /* style on list content */
  
 .taskHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    
 }
 h3 span {
    background-color: #E2E8F0;
    border:  none;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 50%;
 }
 .todoListDetail{
    display: flex;
    flex-direction: column;
   background-color: #E2E8F0;
 }
 .todoListDetail .todoTask,
 .progressListDetail .progressTask ,
 .completedListDetail .completedTask,
 .signListDetail .signTask
 .backlogListDetail , .backlogTask{
    color:black;
   font-size: 25px;
    padding-bottom: 10px;
      }
 .todoListDetail .todoCreateDate,
 .progressListDetail .progressCreateDate,
 .completedListDetail .completedCreateDate,
 .signListDetail .signExpiryDate,
  .backlogListDetail , .backlogCreateDate
   {
     color:#6c7786;
     font-size: 15px;
     padding-bottom: 5px;
 }
 .todoListDetail .todoDueDate,
 .progressListDetail .progressDueDate,
 .completedListDetail .completedDueDate,
 .signListDetail .signCompletedDate,
  .backlogListDetail , .backlogdueDate{
    color:#8897a9;
     font-size: 15px;
    padding-bottom: 5px;
 }
 .todoiconContainer,
  .progressIconContainer,
  .completedIconContainer,
  .signIconContainer,
  .backlogIconContainer{
       display: flex;
    justify-content: right;
    background-color: #E2E8F0;
   
 }
 
.todoiconContainer .todoMoveButton,
.progressIconContainer .progressMoveButton,
.completedIconContainer .completedMoveButton,
.backlogIconContainer .BacklogMoveTodo{
 margin-right: 15px;
 color:#5D3FD3;
}
 .todoiconContainer .todoDeleteButton ,
 .progressIconContainer .progressDeleteButton,
 .completedIconContainer .completedDeleteButton,
 .signIconContainer .signDeleteButton,
 .backlogIconContainer .delayDeleteButton{
    color:maroon;
      margin-right: 15px;
 }
 .todoiconContainer .todoEditButton{
    margin-right: 15px;
   color:#5D3FD3;
 }
 .todoiconContainer .todoBacklog,
 .progressIconContainer .progressBacklog{
     margin-right: 15px;
   color:#5D3FD3;
 }

 


